<style>
    body {
        background-color: pink;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #content {
        max-width: 900px;
        background-color: white;
        margin: 0 auto;
    }

    nav {
        background-color: steelblue;
        padding: 20px;
    }

    nav, footer {
        background-color: steelblue;
        padding: 20px;
        color: white;
        text-align: center;
    }

    nav a {
        padding: 15px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        margin: 10px;
    }

    nav a:hover {
        background-color: lightblue;
        color: steelblue;
    }

    h1 {
        text-align: center;
    }

    img {
        width: 800px;
        display: block;
        margin: 50px auto;
    }

    #main-topic {
        color: steelblue;
    }

    footer a {
        color: white;
    }
</style>
